body{
    text-align: center;
}

.cover11 ul {
  height: 90px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.85);
 
}

.cover11   li {
  float: left;
  margin-left: 100px;
}

.cover11   li a {
  margin-top: 5px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 20px;
 
}



.active {
background-color: rgba(234, 27, 27, 0.575);

}
li a:hover:not(.active) {
background-color: rgba(0, 0, 0, 0.2);
color: white;
}





  .cover1 {
    /* background-image: url('73637deb5bb85b2cd65b86b2732a98a7.jpg'); */
    background: url('/static/img/73637deb5bb85b2cd65b86b2732a98a7.jpg') 50% 0 no-repeat fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: aliceblue;
    margin-bottom: 100px;
    height: 700px;
    margin-top: -17px;
    
  }
  .text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
    text-align: center;
   
   padding-top: 150px;
    color: brown;
  }
.text1 {
    color: rgb(226, 179, 85);
}
.text2{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}
.image{
    margin-top: 100px;
    margin-left: 350px;
    margin-bottom: 200px;
    border: 1px solid orange;
    /* border-top: -3px solid orange; */
    position: absolute;
    width: 850px;
    height: 500px;
}
.img{
    position: relative;
    margin-top: 50px;
    margin-bottom: 200px;
}
.st{
    margin-top: 700px;
}
.card{
    margin: 20px;
}








.footer{
  background-color: #202225;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}
