html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #f7f7f7);
    justify-content: center;
}
.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%,-50%);
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}
.login-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.login-box .user-box{
    position: relative;
}
.login-box .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label{
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label{
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}
.login-box form a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
}
.aa a:hover{
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;

}
.signup a:hover{
  
    color: #fff;
    border-radius: 5px;


}
.login-box a span{
    position: absolute;
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);

   
  }
  
  li {
    float: left;
    margin-left: 100px;
  }
  
  li a {
    margin-top: 5px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 20px;
   
  }


  .active {
    background-color: rgba(234, 27, 27, 0.575);
    
  }
  li a:hover:not(.active) {
    background-color: rgba(114, 99, 99, 0.2);
    color: white;
  }

  .signup {
display: flex;
align-items: center;
  }









/* .login-box form button.button1 {
 
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: initial; 
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: initial;
    transition: initial;
    margin-top: 40px;
    letter-spacing: 4px;
  } */
/* .signup{
    margin-top: 50px;
    display: flex;
    margin-left: 70px;
  }
  .button1{
    background-color: rgb(59, 13, 165);
    width: 100%;
    color: white;
    text-align: center;
    height: 50px;
    margin-top: 20px;
}
.button2{
    background-color: rgb(255, 255, 255);
    width: 100%;
    color: black;
    text-align: center;
    height: 50px;
    margin-top: 20px;
} */
/* .button1{
    display: inline-block;
    background-color: rgb(59, 13, 165);
    width: 100%;
    color: white;
    text-align: center;
    height: 50px;
    margin-top: 20px;
} */
.button1{
    background-color: rgb(59, 13, 165);
    width: 100%;
    color: white;
    text-align: center;
    height: 50px;
    margin-top: 20px;
}